@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,700;0,800;1,400&family=Open+Sans:ital,wght@1,300&family=Pacifico&display=swap");

body {
  padding: 0;
  margin: 0;
}

.handwriting-2 {
  display: none;
}

span,
p {
  font-family: "Noto Sans", sans-serif;
}

.handwriting {
  font-family: "Pacifico", cursive;
}

.header-banner {
  height: 500px;
  background-image: url(../images/1.jpeg);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
}
.tatata {
  color: white;
  text-align: center;
  width: fit-content;
  margin: auto;
  font-size: 3rem;
}

.main-title span {
  font-family: "Pacifico", cursive;
  font-size: 30px;
}

.particular {
  color: #cb5b16;
}

.main-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

#one {
  padding: 70px 0 20px;
}
#two {
  padding: 70px 0 20px;
}

.cards {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px auto;
}

.card img {
  width: 100%;
}

.card-img {
  width: 95%;
}

.card {
  width: 80%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f1f1f1;
  box-shadow: 0 0 2px 2px rgb(195, 195, 195);
  border-radius: 2px;
  margin: auto;
}
.card-text {
  width: 98%;
  font-size: 12px;
  color: grey;
}
.name {
  font-weight: 700;
  margin-top: 10px;
}

.card-w-bckg {
  width: 48%;
  background-image: url(../images/Group\ 2.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.menuu {
  width: 65%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.tuf {
  width: 29%;
  box-shadow: 0 0 10px 3px rgb(231, 231, 231);
  padding: 10px;
  display: flex;
  height: fit-content;
}

.menu {
  width: 97%;
  border: 5px solid #f5f0f0;
  padding: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  height: fit-content;
}

.menu-title {
  color: #cb5b16;
  font-weight: 700;
  font-size: 20px;
}
.menu hr {
  width: 70%;
  border: 3px solid #f5f0f0;
  background-color: #f5f0f0;
  margin: 0;
}

.menu p {
  text-align: start;
  font-size: 14px;
  color: gray;
}

button a {
  color: #cb5b16;
}

.menu p span {
  color: black;
  font-size: 16px;
  font-weight: 600;
}
.dish {
  word-wrap: break-word;
}
.dish-img {
  float: left;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  margin: 0 10px;
}

.first {
  background-image: url(../images/адин.jpeg);
}
.second {
  background-image: url(../images/два.jpeg);
}
.third {
  background-image: url(../images/три.jpeg);
}
.fourth {
  background-image: url(../images/4.jpeg);
}
.fifth {
  background-image: url(../images/5.jpeg);
}
.sixth {
  background-image: url(../images/6.jpeg);
}
.seventh {
  background-image: url(../images/7.jpeg);
}
.eighth {
  background-image: url(../images/8.jpeg);
}
.ninth {
  background-image: url(../images/9.jpeg);
}

.dish-img img {
  display: none;
}

.cards-3 {
  width: 70%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-3 {
  width: 22%;
  background-color: #282828;
  height: fit-content;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.card-3 .name {
  color: white;
}

.card-3-img,
.card-3-img img {
  width: 100%;
}

.card-3-text {
  margin: 10px;
}

#three {
  padding: 70px 0;
}

.ftoo {
  margin: 30px;
  text-align: center;
  font-weight: 600;
  line-height: 30px;
}

.reviews {
  width: 60%;
  margin: auto;
}

.review-container {
  display: flex;
  margin-bottom: 30px;
}
.quotes {
  font-size: 3rem;
  color: #cb5b16;
}

.review {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

.review-text {
  color: #6b6b6b;
  font-size: 14px;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  width: 98%;
}

.name-w-stars {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 10px;
  color: #cb5b16;
  font-size: 14px;
}

#five {
  padding: 70px 0;
}
.form {
  width: 60%;
  margin: 30px auto;
}

textarea {
  width: 100%;
  margin: 30px 0;
  padding: 10px;
  border: 1px solid #aeaeae;
}

::-webkit-input-placeholder {
  font-size: 12px;
}

.field {
  width: 49%;
  height: 40px;
  padding: 10px;
  border: 1px solid #aeaeae;
}

.inputs {
  display: flex;
  justify-content: space-between;
}

.form button {
  border: none;
  color: white;
  background-color: #282828;
  padding: 10px 20px;
}

footer {
  background-color: #cb5b16;
  padding: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 50px;
}

.up {
  background-color: white;
  border: none;
  color: #cb5b16;
  padding: 30px;
  border-radius: 50%;
  font-size: 1.5rem;
  margin-top: -100px;
}

.contacts button {
  border: none;
  background-color: #9c3c00;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 3px;
  text-align: center;
}

.contacts {
  margin: auto;
  width: 20%;
  display: flex;
  justify-content: space-between;
}

footer span {
  color: white;
}
.nav-container {
  display: none;
}

button,
a:hover {
  cursor: pointer;
}
button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 4px 1px #79370e4d;
  transition: all 0.5s ease;
}

@media screen and (max-width: 1520px) {
  .menuu {
    width: 80%;
  }
}

@media screen and (max-width: 1250px) {
  .dish-img {
    width: 70px;
    height: 70px;
  }
  .contacts {
    width: 25%;
  }
}

@media screen and (max-width: 900px) {
  .card-3 {
    width: 44%;
  }
  .menuu {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
  .tuf {
    width: 80%;
    margin: auto;
  }
  .dish-img {
    width: 100px;
    height: 100px;
  }
  .contacts {
    width: 35%;
  }
  #one,
  #three,
  #two,
  #four,
  #five {
    padding: 40px 0;
  }
  .cards {
    width: 80%;
  }
}

@media screen and (max-width: 700px) {
  .contacts {
    width: 50%;
  }
  .header-banner {
    background-position: center;
    height: 400px;
  }
}
@media screen and (max-width: 550px) {
  .main-title span {
    font-size: 25px;
  }
  .handwriting {
    font-size: 30px;
  }
  .cards {
    flex-direction: column;
    row-gap: 30px;
  }
  .card-w-bckg {
    width: 80%;
  }
}
@media screen and (max-width: 500px) {
  .card-3 {
    width: 90%;
    margin: auto;
  }
  .cards-3 {
    row-gap: 30px;
    padding-top: 40px;
  }
  .cards {
    margin: 40px auto 0;
  }
  .menuu {
    padding: 40px 0 0;
  }
  .contacts {
    width: 70%;
  }
  .reviews {
    width: 80%;
  }
}
@media screen and (max-width: 450px) {
  .nav-container {
    display: flex;
    background-color: #282828;
    padding: 30px 0;
    position: absolute;
    margin-top: 50px;
    position: sticky;
    top: 0;
  }
  nav {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 20px;
  }
  nav a {
    text-decoration: none;
    color: white;
    font-family: "Noto", sans-serif;
    font-weight: 600;
    margin: 0 10px;
  }
  nav a:hover {
    transition: all 0.8s ease 0s;
    text-decoration: underline #cb5b16;
  }
}

@media screen and (max-width: 400px) {
  footer {
    padding: 30px;
    row-gap: 20px;
  }
  .up {
    padding: 20px;
    font-size: 1rem;
    margin-top: -55px;
  }
  .form {
    width: 80%;
  }
  .dish-img {
    width: 70px;
    height: 70px;
  }
  .eem {
    width: 50%;
    margin: auto;
  }
  .eem img {
    width: 100%;
  }
  .main-title span {
    font-size: 30px;
  }
  .contacts {
    width: 90%;
  }
  .cards {
    width: 90%;
  }
  .card {
    width: 75%;
  }
}

@media screen and (max-width: 300px) {
  .tuf {
    width: 90%;
  }
  .menuu {
    width: 95%;
  }
  .handwriting-1 {
    display: none;
  }
  .handwriting-2 {
    display: block;
  }
  .header-banner {
    height: 350px;
  }
  .card-w-bckg {
    width: 98%;
  }
  .cards-3 {
    width: 90%;
  }
  .ftoo {
    font-size: 14px;
    margin: 20px 5px;
  }
  .tatata {
    font-size: 2rem;
  }
  nav a {
    font-size: 11px;
    margin: 3px;
  }
  .contacts button {
    width: 30px;
    height: 30px;
  }
}
